*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
}

.resultBar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score-cabin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.mid-colon{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 5px;
}

.container{
    width: 800px;
    border: 2px solid salmon;
    padding:0 20px 20px;
    overflow: hidden;
}

.container > header{
    margin-left: -20px;
    margin-right: -20px;
    background: #154674;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    padding: 20px 0;
}

.container > .resultBar > .score-cabin > #playerScore,
.container > .resultBar > .score-cabin > #botScore{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
    border: 1px solid #154674;
    line-height: 25px;
    font-size: larger;
    font-weight: 600;
}

.container > .resultBar > .result-text > #gameResult{
    display: inline-block;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 25px;
    padding: 10px;
    border: 1px solid #154674;
}


.container > .playersBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 40px;
}

.container > .playersBar > .player{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.container > .playersBar > .player > .player-box{
    width: 80px;
    height: 80px;
    border: 1px solid #2b0921;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
}

.container .optionsBar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 70px;
    flex-wrap: wrap;
}

.container .optionsBar .options{
    width: 80px;
    height: 80px;
    border: 1px solid #2b0921;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    margin-right: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.container .optionsBar .options:active{
    box-shadow: none !important;
}

.container .optionsBar .options:hover{
    background: #eaebec;
    color: red;
}

.container .resetBar{
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 10px;
    margin-top: 25px;
}

.container .resetBar > button{
    transform: translateX(-50%);
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 3px;
}

@media (max-width: 320px){
    .container .optionsBar .options{
        height: 50px;
        width: 50px;
        line-height: 50px;        
    }

    .container .optionsBar{
        margin-top: 20px;
    }

    .container > .playersBar > .player > .player-box{
        width: 50px;
        height: 50px;
        line-height: 50px;
        /* margin-left: 20px; */
    }

    .container > .playersBar > .player > .player-box.player1{
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .container > .playersBar > .player > .player-box.player2{
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin-left: 20px;
        margin-right: 20px;

    }



.container > .resultBar > .score-cabin > #playerScore,
.container > .resultBar > .score-cabin > #botScore{
    width: 40px;
    height: 40px;
    padding: 10px;
    line-height: 20px;
}

.container > .resultBar > .result-text > #gameResult{
    width: 130px;
    height: 30px;
    text-align: center;
    line-height: 10px;
}
}